<% title 'Payment Success' %>

<% content_for :page_title do %>
  <span class="mobile-logo">OneList</span>
<% end %>

<h1>Payment Successful!</h1>

<div id="content" class="transparent rounded-6">
  <p>Thanks so much for helping me build cool stuff.</p>
  <p class="no-margin">
    	<%= link_to "View your lists", lists_path %>
  </p>
</div>