msg =  "<ul id='flash-messages'>";
msg += "  <li class='message-notice'>Item added successfully</li>";
msg += "</ul>";
$(msg).appendTo('header').delay(2500).fadeOut(300);
$('#list_item_text').val('').focus();
